

.high-priority {
  color: red;
}

.low-priority {
  color: rgb(46, 99, 5);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-style: double;
  margin: 1vw;
}
li span {
  padding: 8px;
}

form {
  display: flex;
  padding: 2vw;
}
h1 {
  font-size: larger;
}
.submit-btn {
  margin-left: 1vw;
  background-color: aquamarine;
  border-radius: 1vw;
  cursor: pointer;
}